extends layout

block content
  div(id='content-container', class='container')
    div(class='text-center')
        h1 #{title}
        div(class='well well-sm')
            img(data-bind='attr:{src: image}, click: requestNewImage', class='img-responsive center-block img-thumbnail')
        div(id='buttons-name-container', class='well well-sm', data-bind='foreach: options, visible: !stepTwoSelected()')
            input(class='btn btn-default btn-block', type='button', data-bind='value: name, click: $parent.selected, attr: { "data-status": status}, css: {"btn-success": $parent.haveSubmittedAnswer() && status == "correct", "btn-danger": $parent.haveSubmittedAnswer() && status == "incorrect"}')
        input(class='btn btn-default btn-block', type='button', value='Latin names', data-bind='click: showLatin, visible: haveSubmittedAnswer() && !stepTwoSelected()')

        div(id='buttons-latin-container', class='well well-sm', data-bind='foreach: latinOptions, visible: stepTwoSelected')
            input(class='btn btn-default btn-block', type='button', data-bind='value: latin, click: $parent.selectedLatin, attr: { "data-status": status}, css: {"btn-success": $parent.haveSubmittedLatinAnswer() && status == "correct", "btn-danger": $parent.haveSubmittedLatinAnswer() && status == "incorrect"}')
        input(class='btn btn-default btn-block', type='button', value='Next', data-bind='click: next, visible: stepTwoSelected')